In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [13]:
data = pd.read_csv("C:/Users/SUSHMITHA/Desktop/spam.csv", encoding='ISO-8859-1')
data.head()

     v1  Label                                                 v2
0   ham      0  Go until jurong point, crazy.. Available only ...
1   ham      0                      Ok lar... Joking wif u oni...
2  spam      1  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham      0  U dun say so early hor... U c already then say...
4   ham      0  Nah I don't think he goes to usf, he lives aro...

In [15]:
data.sum()

v1       hamhamspamhamhamspamhamhamspamspamhamspamspamh...
Label                                                  747
v2       Go until jurong point, crazy.. Available only ...
dtype: object

In [17]:
data.isna()

         v1  Label     v2
0     False  False  False
1     False  False  False
2     False  False  False
3     False  False  False
4     False  False  False
...     ...    ...    ...
5567  False  False  False
5568  False  False  False
5569  False  False  False
5570  False  False  False
5571  False  False  False

[5572 rows x 3 columns]

In [19]:
data.isna().sum()

v1       0
Label    0
v2       0
dtype: int64

In [21]:
x = data['v2']        # Message text
y = data['Label']        # Label column (ham/spam)

In [23]:
# Step 3: Convert text to BoW vectors
vectorizer = CountVectorizer()
x_bow = vectorizer.fit_transform(x)
x_bow

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [25]:
# Optional: Convert to dense array or DataFrame if you want to inspect it
x_bow_array = x_bow.toarray()

# Optional: Get feature (word) names
words = vectorizer.get_feature_names_out()
words[1500:1900]

array(['bet', 'beta', 'beth', 'betta', 'better', 'bettersn', 'bettr',
       'between', 'beverage', 'bevies', 'beware', 'beyond', 'bf', 'bffs',
       'bfore', 'bhaji', 'bhaskar', 'bhayandar', 'bian', 'biatch', 'bid',
       'bids', 'big', 'bigger', 'biggest', 'bike', 'bill', 'billed',
       'billing', 'billion', 'bills', 'billy', 'bilo', 'bimbo', 'bin',
       'biola', 'bird', 'birds', 'birla', 'biro', 'birth', 'birthdate',
       'birthday', 'bishan', 'bit', 'bitch', 'bitching', 'bite', 'bites',
       'bits', 'biz', 'bk', 'black', 'blackberry', 'blacko', 'blah',
       'blake', 'blame', 'blank', 'blanked', 'blanket', 'blankets',
       'blastin', 'bleak', 'bleh', 'bless', 'blessed', 'blessing',
       'blessings', 'blimey', 'blind', 'block', 'blocked', 'blog',
       'blogging', 'blogspot', 'bloke', 'blokes', 'blonde', 'bloo',
       'blood', 'bloody', 'bloomberg', 'blow', 'blowing', 'blown', 'blu',
       'blue', 'bluetooth', 'bluetoothhdset', 'bluff', 'blur', 'bluray',
       'bmw', 'board', 'boat', 'boatin', 'bob', 'body', 'boggy', 'bognor',
       'bold', 'bold2', 'bollox', 'boltblue', 'bomb', 'bone', 'bong',
       'bonus', 'boo', 'boobs', 'book', 'booked', 'bookedthe', 'booking',
       'bookmark', 'books', 'bookshelf', 'boooo', 'boost', 'booty',
       'bootydelious', 'borderline', 'bored', 'borin', 'boring', 'born',
       'borrow', 'boss', 'boston', 'bot', 'both', 'bother', 'bothering',
       'bottle', 'bottom', 'bought', 'boughtÃ¥Ã³braindanceÃ¥Ã³a',
       'boundaries', 'bout', 'bowa', 'bowl', 'bowls', 'box', 'box1146',
       'box139', 'box177', 'box245c2150pm', 'box326', 'box334',
       'box334sk38ch', 'box385', 'box39822', 'box403', 'box420',
       'box42wr29c', 'box434sk38wp150ppm18', 'box61', 'box95qu',
       'box97n7qp', 'boy', 'boye', 'boyf', 'boyfriend', 'boys', 'boytoy',
       'bpo', 'brah', 'brain', 'brainless', 'brains', 'brainy', 'brand',
       'brandy', 'bras', 'brats', 'braved', 'bray', 'brb', 'brdget',
       'bread', 'breadstick', 'break', 'breaker', 'breakfast', 'breakin',
       'breaking', 'breaks', 'breath', 'breathe', 'breathe1', 'breather',
       'breathing', 'breeze', 'breezy', 'bribe', 'bridal', 'bridge',
       'bridgwater', 'brief', 'bright', 'brighten', 'brilliant',
       'brilliantly', 'brin', 'bring', 'bringing', 'brings', 'brisk',
       'brison', 'bristol', 'british', 'britney', 'bro', 'broad',
       'broadband', 'broke', 'broken', 'brolly', 'bros', 'broth',
       'brothas', 'brother', 'brothers', 'brought', 'brown', 'brownie',
       'brownies', 'browse', 'browser', 'browsin', 'bruce', 'brum',
       'bruv', 'bslvyl', 'bsn', 'bsnl', 'bstfrnd', 'bt', 'btw', 'btwn',
       'bubbletext', 'bucks', 'bud', 'buddy', 'buddys', 'budget', 'buen',
       'buff', 'buffet', 'buffy', 'bugis', 'build', 'building', 'built',
       'bulbs', 'bull', 'bullshit', 'bunch', 'bundle', 'bunkers', 'buns',
       'burden', 'burger', 'burgundy', 'burial', 'burn', 'burning',
       'burns', 'burnt', 'burrito', 'bus', 'bus8', 'buses', 'busetop',
       'business', 'busty', 'busy', 'but', 'butt', 'buttheres', 'butting',
       'buttons', 'buy', 'buyer', 'buyers', 'buying', 'buzy', 'buzz',
       'buzzzz', 'bw', 'bx', 'bx420', 'bx526', 'by', 'byatch', 'bye',
       'byÃ¥Ã³leafcutter', 'bÃ¥Ãµday', 'c52', 'cab', 'cabin', 'cable', 'cafe',
       'cage', 'cake', 'cakes', 'cal', 'calculated', 'calculation',
       'cali', 'calicut', 'california', 'call', 'call09050000327',
       'call2optout', 'callback', 'callcost', 'callcost150ppmmobilesvary',
       'calld', 'called', 'caller', 'callers', 'callertune',
       'callfreefone', 'callin', 'calling', 'callon', 'calls', 'calls1',
       'callsÃ¥', 'calm', 'cam', 'camcorder', 'came', 'camera', 'camp',
       'campus', 'camry', 'can', 'canada', 'canal', 'canary', 'cancel',
       'canceled', 'cancelled', 'cancer', 'canlove', 'cann', 'canname',
       'cannot', 'cant', 'cantdo', 'canteen', 'canÃ¥Ãµt', 'capacity',
       'capital', 'cappuccino', 'caps', 'captain', 'captaining', 'car',
       'card', 'cardiff', 'cardin', 'cards', 'care', 'careabout', 'cared',
       'career', 'careers', 'careful', 'carefully', 'careless', 'cares',
       'caring', 'carlie', 'carlin', 'carlos', 'carly', 'carolina',
       'caroline', 'carpark', 'carry', 'carryin', 'cars', 'cartons',
       'cartoon', 'case', 'cash', 'cashbin', 'cashed', 'cashto', 'casing',
       'cast', 'casting', 'castor', 'casualty', 'cat', 'catch'],
      dtype=object)

In [27]:
# Step 4: Train-test split
x_train, x_test, y_train, y_test = train_test_split(x_bow, y, test_size=0.2, random_state=42)

In [29]:
# Step 5: Train Logistic Regression model
model = LogisticRegression()
model.fit(x_train, y_train)

# Step 6: Predict and evaluate
y_pred = model.predict(x_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\n Classification Report:\n", classification_report(y_test, y_pred))
print("\n Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9775784753363229

 Classification Report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99       965
           1       0.99      0.84      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115


 Confusion Matrix:
 [[964   1]
 [ 24 126]]